<div class="row">
    <div class="col-md-9">
        {{ html|raw }}
    </div>
    <div class="col-md-3">
        <div id="widgets">
            <h2>{{ 'Widgets disponibles' }}</h2>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for widget,id in widgets %}
                        <li class="list-group-item widget-item" draggable="true" ondragstart="dragWidget(event)" id="widget-{{ id }}">
                            <span>{{ widget }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{{ include('@SpyritPageBuilder/editor/editor_js.html.twig') }}